header{
    background-color: #2C3E50;
}
.green{
    background-color:#1ABC9C ;
}
.gray{
    background-color:#3A546D ;
}
.dark-gray{
    background-color: #2C3E50;
}
footer{
    min-height: 100px;
}
.w-img{
    max-width: 100px;
}
.bars{
    height: 3px;
    width: 100px;
    background-color: #fff;
    border-radius: 2px;
    display: inline-block;
}
.bi-star-fill{
    position: relative;
    top: 4px;
    left: 0;
    padding: 0 10px;
}
.invert{
    filter: invert(0.7);
}
.black-bars{
    background-color: black;
}
.circle{
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
}
#contacts textarea{
    width: 100%;
    height: 200px;
}
#contacts .form-control{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #CCCCCC;
}
#contacts ::placeholder{
    color: black;
}
#contacts .form-control:focus{
    box-shadow:none;
}